.user-budget-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.user-budget-container input::-webkit-outer-spin-button,
.user-budget-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.user-budget-ui {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-budget {
  height: 25rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: brown;
  border-radius: 1rem;
  color: white;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px black;
}

.user-budget h2 {
  font-size: 2rem;
}

.user-budget label {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30% 80%;
  align-items: center;
  width: 85%;
}

.user-input {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  width: 85%;
}

.user-input-button {
  height: 3.5rem;
  width: 8rem;
  border: none;
  color: brown;
  margin: 1.6rem 0.7rem 0;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.user-input-button:hover {
  background-color: brown;
  color: white;
  transition: all 0.5s;
}

.user-budget-balance {
  padding: 2rem;
  height: 48rem;
  width: 35rem;
  border-radius: 1rem;
  background-color: brown;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 10px 10px 20px black;
}

.user-budget-balance div {
  background-color: rgb(163, 71, 71);
  padding: 3rem 1rem;
  color: white;
  border-radius: 0.6rem;
}

.user-expense-container,
.user-expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.user-expense-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 10rem 10rem 5rem;
  justify-content: space-between;
  background-color: rgb(163, 71, 71);
  color: white;
}

.user-expense-header {
  font-size: 1.75rem;
  color: white;
  background-color: brown;
  padding-bottom: 0;
}

.user-expense-main {
  gap: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: brown;
  height: 75rem;
  width: 62rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px black;
}

.user-expense-buttons {
  display: flex;
  gap: 1rem;
}

.user-expense-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user-expense-buttons img {
  height: 2rem;
}
