.user {
  background: url(../assets/hero-bg.jpg) fixed center;
  background-size: cover;
  height: 100vh;
}

.user-main {
  padding: 10rem;
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: brown;
  color: white;
  text-transform: uppercase;
}

.user-text {
  margin: 0;
}

.user-logo {
  height: 8rem;
}

.user-logout {
  height: 4rem;
  width: 8rem;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: brown;
  cursor: pointer;
  transition: all 0.5s;
}
