.transactions {
    border: 1px solid lightgray;
    margin: 5rem;
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: 10px 15px 20px lightgray;
    width: 40%;
}

.transactions h2 {
    padding: 5rem;
    font-size: 2rem;
}