.footer {
  height: 18.3vh;
  background-color: brown;
  color: white;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1rem;
  letter-spacing: 1.25px;
  line-height: 1.75;
}

.footer-links {
  font-size: 1.15rem;
  cursor: pointer;
  transition: all 0.5s;
}

.footer-links:hover {
  color: #bbb;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 35rem;
}

.social-logos {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.social-logo {
  height: 3rem;
  cursor: pointer;
}

.subsidiaries {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.site-links {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
