.hero {
  height: 75.1vh;
  background: url(../../assets/hero-bg.jpg) fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 0 4rem;
}

@media screen and (max-width: 125em) {
  .hero {
    height: 75.6vh;
  }
}

@media screen and (max-width: 81.25em) {
  .hero {
    height: 77.9vh;
  }
}
